<!-- Main -->
<div id="main">

    <!-- Header -->
    <header id="header">
        <h1>Lens</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <ul class="icons">
        <!--Se cambian las rutas para las imagenes de HTML a Ruby-->
            <li><%= image_tag "rrss/facebook-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/github-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/insta-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/twitter-black.svg", class:"smallimg"%></li>
        </ul>
    </header>

    <!-- Thumbnail -->
    <section id="thumbnails">
        <article>
            <%= link_to "thumbs/01.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/01.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
        <%= link_to "thumbs/02.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/02.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/03.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/03.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/04.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/04.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/05.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/05.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/06.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/06.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/07.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/07.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/08.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/08.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/09.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/09.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/10.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/10.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/11.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/11.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
        <article>
            <%= link_to "thumbs/12.jpg" , class:"thumbnail" do %>
                <%= image_tag 'fulls/12.jpg' , title:"Diam tempus accumsan", alt:"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit." %>
                    <% end %>
        </article>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Untitled.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
        </ul>
    </footer>

</div>



</body>

</html>