   <!-- Se limpia archivo Index dejando solo sección Thumbnail -->
    
    <section id="thumbnails">
    <!-- Enlace a la información de la galería -->
        
        <article>
            <%= link_to(image_tag("thumbs/01.jpg", alt: ""), image_path("fulls/01.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/02.jpg", alt: ""), image_path("fulls/02.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/03.jpg", alt: ""), image_path("fulls/03.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/04.jpg", alt: ""), image_path("fulls/04.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/05.jpg", alt: ""), image_path("fulls/05.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/06.jpg", alt: ""), image_path("fulls/06.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/07.jpg", alt: ""), image_path("fulls/07.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/08.jpg", alt: ""), image_path("fulls/08.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/09.jpg", alt: ""), image_path("fulls/09.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/10.jpg", alt: ""), image_path("fulls/10.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/11.jpg", alt: ""), image_path("fulls/11.jpg"), class: "thumbnail")%>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/12.jpg", alt: ""), image_path("fulls/12.jpg"), class: "thumbnail")%>
        </article>
   </section>
   
